@{
    ViewBag.Title = "Sistema de Vendas - Home";
}

<div class="text-center">
    <h1 id="technology-title"> Tecnologias</h1>
    <div id="technology-art">
        <img src="~/img/technology-art.png" class="background img-infinite-rotation">
        <img src="~/img/technology-art-c.png" class="item-background img-infinite-float">
    </div>
</div>