
@{
    ViewBag.Title = "500 - Error";
}

<div class="error-content">
    <div>
        <h1><span>500</span> - Ocorreu um erro inesperado!</h1>
        <h3>
            Erro de Aplicação:
        </h3>
        <h4>
            Desculpe, tente novamente mais tarde.
        </h4>
    </div>
    <img src="~/img/icon/error-icon.svg" alt="Icone" />
</div>




