
@{
    ViewBag.Title = "404 - NotFound";
}

<div class="error-content">
    <div >
        <h1><span>404</span> - Página não encontrada!</h1>
        <h3>
            Erro de Aplicação:
        </h3>
        <h4>
            Desculpe, a página que você procura não foi encontrada.
        </h4>
    </div>
    <img src="~/img/icon/notfound-icon.svg" alt="Icone"/>
</div>
