//variables used in my sass
$color-background-d: #fff;
$color-customer: #45aeae;
$color-provider: #0b76bb;
$color-sales: #fcc82b;
$color-report: #e23a59;
$color-title: #727272;

$font-family-regular: OpenSans-Regular;
$font-family-extrabold: OpenSans-ExtraBold;

$footer-background-color: #efece9;
$footer-color: #727272;
$footer-border-color: #dbdbdb;
$footer-opacity: 0.7;

$nav-default-border-color: #e8e8e8;
$nav-default-shadow-color: #727272;
//darken(cor, porcentagem ex: 20);
//lighten(cor, %);

//#{$mq-mobile} -- varialvel == $mq-mobile: "(max-width: 980px)";